{% extends "layout.html" %}

{% block extra_scripts %}
<script lang="javascript">
    "use strict";
    function start_chat() {
        const submitButton = document.getElementById("submit-chat");
        const messageDiv = document.getElementById("chat-messages");
        const loadingMessage = document.getElementById("loading-message");
        const context = "{{context}}";
        const prompt = document.querySelector("textarea[name='prompt']").value;
        const url = `/chat-sse/${context}?prompt=${encodeURIComponent(prompt)}`;
        const evtSource = new EventSource(url);
        submitButton.disabled = true;
        loadingMessage.hidden = false;
        messageDiv.hidden = true;
        evtSource.addEventListener("chat", (event) => {
          if (messageDiv.setHTML) {
            // Sanitizes HTML
            messageDiv.setHTML(event.data);
          } else {
            // Fallback for browsers that don't support setHTML,
            // which as of 2026 includes Safari.
            messageDiv.innerHTML = event.data;
          }
          loadingMessage.hidden = true;
          messageDiv.hidden = false;
        });
        evtSource.addEventListener("done", (event) => {
            evtSource.close();
            submitButton.disabled = false;
        });
    }
</script>
<style type="text/css">
    .spinning-element {
        display: inline-block;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock %}


{% block title_block %}
<h1 class="pt-4">
    <span class="f1-light text-gray-light">AI Chat</span>
</h1>
{% endblock %}

{% block content %}
<form onsubmit="start_chat(); return false;">
    <fieldset>
        <legend>Ask a question</legend>
        <div>
            <textarea name="prompt" class="form-control input-block" rows="3"></textarea>
        </div>
        <div>
            <button id="submit-chat" type="submit" class="btn btn-primary">Send</button>
        </div>
    </fieldset>
</form>

<h2>Chat Response</h2>
<div id="loading-message" hidden>
    <span class="spinning-element">{{loading_svg}}</span> Loading...
</div>
<div id="chat-messages" style="margin-left: 2em;" class="p-responsive border-y border-x">
    Chat response will appear here.
</div>

{% endblock %}
