{% extends "layout.html" %}



{% block content %}

<form method="post" action="{{post_url}}">
    <fieldset>
        <div class="tabnav">
            <nav class="tabnav-tabs edit_box_tabs" aria-label="Page editor">
                <a class="tabnav-tab" href="#url" aria-current="page">Edit file</a>
                <!-- <a class="tabnav-tab" href="#url">Preview</a> -->
            </nav>
        </div>
        <div class="edit_box">
            <textarea id="content" name="content" class="form-control edit_text_area">{{content}}</textarea>
        </div>
        <div>
            {% match message_placeholder %}
            {% when Some with (val) %}
            <input type="text" name="message" class="form-control input-block" placeholder="{{val}}">
            {% when None %}
            <input type="hidden" name="message" placeholder="edit message not supported">
            {% endmatch %}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Commit changes</button>
            <a href="{{view_url}}" class="btn btn-danger">Cancel</a>
        </div>
    </fieldset>
</form>

{% endblock %}