<!DOCTYPE html>
<html data-color-mode="auto" data-light-theme="light" data-dark-theme="dark_dimmed">

<head>
    <title>{{title}}</title>
    <link href="/_smeagol/primer.css" rel="stylesheet" />
    <style>
        .markdown-body {
            padding: 1em 1em 1em 0;
        }
    </style>
</head>

<body class="container-lg">
    <header>

    </header>
    <main>
        <div class="TableObject pt-4 px-2 px-lg-0 overflow-x-scroll">
            <div class="TableObject-item">
                <a class="btn btn-sm" id="minibutton-home" href="/">
                    Home
                </a>
            </div>
        </div>
        <h1 class="pt-4">{{title}}</h1>
        <nav aria-label="Breadcrumb">
            <ol>
                {% for crumb in breadcrumbs %}
                <li class="breadcrumb-item">
                    <a href="{{crumb.href}}">{{crumb.name}}</a>
                </li>
                {% endfor %}
            </ol>
        </nav>
        <div class="markdown-body">
            {{content}}
        </div>
    </main>

</body>

</html>