<!DOCTYPE html>
<html data-color-mode="auto" data-light-theme="light" data-dark-theme="dark_dimmed">

<head>
    <title>{{title}}</title>
    <!-- TODO: embed css file into the program -->
    <link href="/_smeagol/primer.css" rel="stylesheet" />
</head>

<body class="container-lg">
    <header>

    </header>
    <main>
        <h1>{{title}}</h1>
        <nav aria-label="Breadcrumb">
            <ol>
                {% for crumb in breadcrumbs %}
                <li class="breadcrumb-item">
                    <a href="{{crumb.href}}">{{crumb.name}}</a>
                </li>
                {% endfor %}
            </ol>
        </nav>
        <dic class="markdown-body">
            {{content}}
        </dic>
    </main>

</body>

</html>